doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/live.css')
    link(rel='stylesheet', href='http://cdn.staticfile.org/emoji/0.2.2/emoji.css')
  body
    div(id='container')
      block content
    block js